name: Go

on:
  push:
    branches: [ main ]
  pull_request:
  merge_group:

jobs:
  build:
    strategy:
      matrix:
        postgres-version: ['latest', 16, 15, 14, 13]
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:${{ matrix.postgres-version }}
        ports:
          - "5432:5432"
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: everyone
          POSTGRES_DB: postgres

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version-file: "go.mod"

    - name: golangci-lint cache
      uses: actions/cache@v5
      with:
        path: ~/go/bin/golangci-lint
        key: ${{ runner.os }}-golangci-lint-v2.4.0

    - name: Test
      run: |
        make linters test

    - name: Upload coverage
      uses: actions/upload-artifact@v4
      with:
        name: coverage_${{ matrix.postgres-version }}
        path: coverage.html
